{require_otp_vsn, "R16"}.

{deps, [
	{cowboy, ".*",
		{git, "git://github.com/extend/cowboy.git", "master"}},
	{mimetypes, ".*",
		{git, "git://github.com/spawngrid/mimetypes.git", "master"}},
	{erlydtl, ".*",
		{git, "git://github.com/evanmiller/erlydtl.git", "master"}},
	{rebar_js_uglifier_plugin, ".*",
		{git, "git://github.com/cmeiklejohn/rebar_js_uglifier_plugin.git", "master"}}
]}.

{plugins, [rebar_js_uglifier_plugin]}.

{erlydtl_opts,[
	{doc_root,"templates"},
    {out_dir,"ebin"},
    {source_ext,".dtl"},
    {module_ext,"_dtl"},
    {recursive,true}
]}.

{js_uglifier, [
	{uglify_path, "/usr/bin/uglifyjs"},
	{doc_root,   "priv/static/js"},
	{out_dir,    "priv/static"},
	{compressions, [
		{"signals.min.js", "signals.js"}
	]}
]}.